<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
</head>
<body>
    <h1>Action Logs</h1>

    <table>
        <tr>
            <th>asset</th>
            <th>Timestamp</th>
            <th>list_str</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{ log[1] }}</td>
            <td>{{ log[2] }}</td>
            <td>{{ log[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/">Back to Home</a>
</body>
</html>
